body{
    display: flex;
    background-color: bisque;
    min-height: 200vh;
    align-items: center;
    justify-content: center;
}
.box{
    color: blueviolet;
    display: block;
    width: 100%;
    height: 100%;
}